
<!-- Start contact -->


<main class="page-section pb-5 mb-5" id="contact1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0 text-dark text-capitalize" data-aos="zoom-in">contact</h2>
          <hr class="divider my-4" data-aos="zoom-in">
          <p class="text-dark mb-5">Prêt à démarrer votre prochain projet avec nous? Appelez-nous ou envoyez-nous un email et nous vous contacterons dans les plus brefs délais!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-xd-12 ml-auto text-center mb-5 mb-lg-0">
          <i class="fas fa-phone fa-3x mb-3" style="color: #B23692;" data-aos="zoom-in"></i>
          <!-- <img src="assets/icons/5.png" class="fas fa-phone fa-3x mb-3"> -->
          <div class="text-dark">+(212)6 65 81 10 81</div>
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12 mr-auto text-center">
          <i class="fas fa-map-marker-alt fa-3x mb-3" style="color: #B23692;" data-aos="zoom-in"></i>
          <!-- <img src="assets/icons/6.png" class="fas fa-map-marker-alt fa-3x mb-3"> -->
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block text-dark" href="14, ALMAHFAR AV.ATLAS SAGHIR, PAPINIERE, SALé - MAROC"> 14, ALMAHFAR AV.ATLAS SAGHIR, PAPINIERE, SALé - MAROC
             </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12 mr-auto text-center">
            <i class="fas fa-envelope fa-3x mb-3" style="color: #B23692;" data-aos="zoom-in"></i>
            <!-- <img src="assets/icons/4.png" class="fas fa-envelope fa-3x mb-3"> -->
            <!-- Make sure to change the email address in anchor text AND the link below! -->
            <a class="d-block text-dark" href="mailto:contact@yourwebsite.com">DELTATRAVO@gmail.com</a>
          </div>
          <!-- <a routerLink="/contact2" class="mx-auto"><button type="button" class="btn btn-rounded text-white mt-4 px-4 mx-auto" data-aos="zoom-in" style="background-color: #B23692;">Contact Nous</button> </a> -->
  </div>
  </div>
  </main>
  <!-- End contact -->
   
