
<div class="body">
  <div id="login-page">
    <div class="container">
    
    
        <form class="form-login" action="" method="post">
          <h2 class="form-login-heading">sign in now</h2>
               <img src="assets/img/A (16).jpg" class="img-fluid">
          <div class="login-wrap">
              <input type="text" name="username" class="form-control" placeholder="User ID" autofocus="">
              <br>
              <input type="password" name="password" class="form-control" placeholder="Password"><br>
              <input name="login" class="btn btn-theme btn-block mb-4" type="submit">          
          </div>
        </form>	  	
    </div>
  </div>



</div>