
<!-- Start Service -->

<section class="page-section" id="service">
    <div class="container">
      <h2 class="text-center mt-0 text-dark" data-aos="zoom-in">Services</h2>
      <hr class="divider my-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-xd-12 text-center">
          <div class="mt-5">
            <i class="fa fa-pencil mb-4" aria-hidden="true" data-aos="zoom-in"></i>
 
            <!-- <img src="assets/icons/7.png" class="fas fa-4x fa-gem text-primary mb-4"> -->
            <h3 class="h4 mb-2" data-aos="zoom-in">Création des ascenseurs</h3>
            <p class="mb-0 text-justify" data-aos="zoom-in">Spécialiste dans le domaine d'ascenseur, Escalator, Monte charge</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xd-12 text-center">
          <div class="mt-5">
            <i class="fa fa-wrench mb-4" aria-hidden="true text-primary mb-4" data-aos="zoom-in"></i>

            <!-- <img src="assets/icons/8.png" class="fas fa-4x fa-gem text-primary mb-4"> -->
            <h3 class="h4 mb-2" data-aos="zoom-in">Monte-Charges</h3>
            <p class="mb-0 text-justify" data-aos="zoom-in">Les monte-charges du DELTA H2 -hydraulique et électrique-sont forgés pour résister à chaque privation</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xd-12 text-center">
          <div class="mt-5">
            <i class="fa fa-truck mb-4" aria-hidden="true" data-aos="zoom-in"></i>
            <!-- <img src="assets/icons/9.png" class="fas fa-4x fa-gem text-primary mb-4"> -->
            <h3 class="h4 mb-2" data-aos="zoom-in">Livraison Rapide</h3>
            <p class="mb-0 text-justify" data-aos="zoom-in">Nous avons minimisé la durée de production en utilisant nos technologies de production avancées</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xd-12 text-center">
          <div class="mt-5">
            <i class="fa fa-users mb-4" aria-hidden="true"></i>
            <!-- <i class="fas fa-user-hard-hat" data-aos="zoom-in"></i> -->
            <!-- <img src="assets/icons/10.png" class="fas fa-4x fa-heart text-primary mb-4"> -->
            <h3 class="h4 mb-2" data-aos="zoom-in">Service aprés-vente</h3>
            <p class="mb-0 text-justify" data-aos="zoom-in">La qualité de service élevée et la fiabilité sont les facteurs principaux qui assurent le succés de DELTA H2</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- End Service -->
  
