<section class="ftco-section pb-5 pt-3 my-5" id="client">
  <h2 class="text-center pb-2" data-aos="zoom-in">Nos Produits
  </h2>
  <hr class="divider mb-2 mt-2 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-xd-12 ftco-animate fadeInUp ftco-animated">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div class="img align-self-stretch mx-auto"><img src="assets/img/A (5).jpg"
                class="img-fluid image-responsive rounded" alt="ph" data-aos="zoom-in"></div>
          </div>
          <div class="text pt-3 text-center">
            <h3 data-aos="zoom-in">Cabines</h3>
            <div class="faded">
              <!-- <h5>Cabines</h5> -->
              <p data-aos="zoom-in">Les cabines Naive sont des produits sur mesur...</p>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xd-12 ftco-animate fadeInUp ftco-animated">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div class="img align-self-stretch mx-auto"><img src="assets/img/a (11).jpg"
                class="img-fluid image-responsive rounded" alt="ph" data-aos="zoom-in"></div>
          </div>
          <div class="text pt-3 text-center">
            <h3 data-aos="zoom-in">Ascenseur Panoramique</h3>
            <div class="faded">
              <p data-aos="zoom-in"> Cabine de passage (d'ascenseur) PQ 42COIN, PQ42 GROS </p>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xd-12 ftco-animate fadeInUp ftco-animated">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div class="img align-self-stretch mx-auto"><img src="assets/img/A (18).jpg"
                class="img-fluid image-responsive rounded" alt="ph" data-aos="zoom-in"></div>
          </div>
          <div class="text pt-3 text-center">
            <h3 data-aos="zoom-in">Portes manuelles</h3>
            <div class="faded">
              <p data-aos="zoom-in">il y'a encore portes automatiques, Portes monte charge</p>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xd-12 ftco-animate fadeInUp ftco-animated">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div class="img align-self-stretch mx-auto"><img src="assets/img/ascal.png"
                class="img-fluid image-responsive rounded" alt="ph" data-aos="zoom-in"></div>
          </div>
          <div class="text pt-3 text-center">
            <h3 data-aos="zoom-in">Les arcades</h3>
            <div class="faded">
              <p class="pb-1" data-aos="zoom-in">il se trouve Arcade Gearless, Arcade électrique, Hydraulique...</p>

            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="form-group text-center text-md-right mt-4 pb-4">
    <button type="submit" class="button button--active button-contactForm" data-aos="zoom-in">Voir Plus +</button>
  </div>
</section>