


<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::: -->


<section class="masthead mt-1" id="about">
  <div class="background-image">
    <h2 class="text-center mt-0 text-dark text-capitalize" data-aos="zoom-in">à propos</h2>
    <hr class="divider my-4">
          <div class="container home">
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-xd-12">
                  <!-- <div class="row h-100 align-items-center justify-content-center text-center"> -->
                  <h3 class="text-dark" data-aos="fade-right">Nouvelle génération d'ascenseur avec<br> DELTA H2 </h3>
                  
                  <p class="text-justify" data-aos="fade-right">
                  - Création des ascenseurs  <br>
                  - Vente de matériaux professionnels des ascenseurs <br>
                  - modernisation des ascenseurs<br>
                  - Maintenance des ascenseurs<br>
                  - Dépannage    
                  </p>
                      <button id="one" class="btn btn-lg px-3 m-auto" style="background-color: #B23692; color: #fff;" data-aos="fade-right">Notre brochure</button>      
              </div>
              <div class="col-lg-6 col-md-6 col-xd-12">
                  <img src="assets/img/A (1).jpg" class="img-fluid image-responsive pt-2" data-aos="fade-left">
                  </div>
         
      </div>
  </div>
  </div>
</section>


<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
