<div class="body">
      <div id="login-page">
        <div class="container">
       
            <form class="form-login" action="" method="post" enctype="multipart/form-data">
              <h2 class="form-login-heading">Insertion Nouveau Models</h2>
              <div class="one">
                   <label for="avatar" class="text-center">Choose à profile picture</label>
            <input type="file"
            id="avatar" name="avatar" accept="image/png, image/jpeg">
              </div>
                   <div class="login-wrap">
                  <!-- <input type="text" name="username" class="form-control" placeholder="User ID" autofocus="">
                  <br>
                  <input type="password" name="password" class="form-control" placeholder="Password"><br> -->
                  <input name="login" class="btn btn-theme btn-block" type="submit" value="Inserer">
                  <h3 class="form-login-heading">Insertion Nouveau Produits</h3>
                   <input type="text" name="username" class="form-control" placeholder="Title" autofocus="">
                  <br>
                  <div class="input-group">
                    <textarea class="form-control" aria-label="With textarea" style="margin: 0px -13px 0px 0px; width: 373px; height: 121px;" placeholder="Discription"></textarea>
                  </div>
                  <div class="one">
                    <label for="avatar" class="text-center">Choose à profile picture</label>
             <input type="file"
             id="avatar" name="avatar" accept="image/png, image/jpeg">
               </div>
               <input name="login" class="btn btn-theme btn-block theme" type="submit" value="Submit">



              </div>
            </form>	  	
        
        </div>
      </div>
      </div>
  
      



      
  
      
    




