* {
    box-sizing: border-box;
}
.body{
    background-color: rgb(242, 242, 242) !important;
    line-height: 1.42857143;
    color: #797979;
    font-family: 'Ruda', sans-serif;
    font-size: 13px;
}

div {
    display: block;
}

::selection {
    background: #68dff0;
    color: #fff;
}
.form-login h2.form-login-heading {
    margin: 0;
    padding: 25px 20px;
    text-align: center;
    background: #38B04F;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
}
h2{
    font-family: inherit;
    line-height: 1.1;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    color:#000000 !important;
    font-weight: bold;
}
.login-wrap {
    padding: 0px 20px;
}
input:-internal-autofill-selected {
    appearance: menulist-button;
    background-color: rgb(232, 240, 254) !important;
    background-image: none !important;
    color: -internal-light-dark(black, white) !important;
}
input{
    margin: 0;
    font: inherit;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.form-login {
    max-width: 400px;
    margin: 100px auto 0;
    background: #fff;
    
}
input[type="submit"].btn-block {
    width: 100%;
}
.btn-theme {
    color: #fff;
    background-color: #38B04F;
    border-color: rgb(158, 63, 0);
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.one{
    padding-top:20px;
    text-align: center;
}
#avatar{
   color: #38B04F;
}
h3{
    font-size: 1.5rem;
    color:#000000;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px rgb(158, 63, 0);
    margin:0 !important;
    margin-bottom:10px !important;
}
.btn-theme{
    margin-top:20px;
    margin-bottom:20px;
}
.theme{
    margin-bottom:40px;
}