
        <!-- :::::::::::::::::::::::::::::::::::::::: -->

        <div class="alime-blog-area section-padding-80-0 mb-70 my-5" id="photo">
            <h2 class="text-center mt-0 text-dark" data-aos="zoom-in">Galerie</h2>
            <hr class="divider my-4">
            <p class="text-center pb-1 px-3 text-justify">Notre Société est spécialisée dans le domaine d'ascenseur et transport vertical
            <div class="container">
                <div class="row">   
                    <!-- Single Blog Area -->
                    <div class="col-lg-6 col-md-6 col-xd-12 mt-4">      
                            <!-- Post Thumbnail -->
                           <img src="assets/img/b (1).jpg" alt="" class="pop img-fluid w-100" data-aos="zoom-out-up">                       
                    </div>    
                    <!-- Single Blog Area -->
                    <div class="col-lg-3  col-md-6 col-xd-12 mt-4">                       
                            <!-- Post Thumbnail -->
                  <img src="assets/img/a (11).jpg" alt="" class="pop img-fluid w-100" data-aos="zoom-out-up">                     
                    </div>  
                    <!-- Single Blog Area -->
                    <div class="col-lg-3 col-md-6 col-xd-12 mt-4">                     
                            <!-- Post Thumbnail -->
                            <img src="assets/img/12.jpg" alt="" class="pop img-fluid w-100" data-aos="zoom-out-up">
                            <!-- Post Conetent -->                     
                    </div>
                    <!-- Single Blog Area -->
                    <div class="col-lg-3 col-md-6 col-xd-12 mt-4">
                        <img src="assets/img/10.jpg" alt="" class="pop img-fluid w-100" data-aos="zoom-in" data-aos="zoom-out-up">                  
                    </div>
                    <!-- Single Blog Area -->
                    <div class="col-lg-3 col-md-6 col-xd-12 mt-4">                  
                         <img src="assets/img/12.jpg" alt="" class="pop img-fluid w-100" data-aos="zoom-in" data-aos="zoom-out-up">                     
                    </div>
                    <!-- Single Blog Area -->
                    <div class="col-lg-6 col-md-6 col-xd-12 mt-4">                 
                            <img src="assets/img/5.jpg" alt="" class="pop img-fluid w-100" data-aos="zoom-out-up">                    
                    </div>
    
                    <!-- Single Blog Area -->
                    <div class="col-lg-3 col-md-6 col-xd-12 mt-4">                     
                            <img src="assets/img/A (17).jpg" alt="" class="pop img-fluid w-100" data-aos="zoom-out-up">                      
                    </div>
    
                    <!-- Single Blog Area -->
                    <div class="col-lg-6 col-md-6 col-xd-12 mt-4">                     
                         <img src="assets/img/1.jpg" alt="" class="pop img-fluid w-100" data-aos="zoom-out-up">                     
                    </div>  
                    <!-- Single Blog Area -->
                    <div class="col-lg-3 col-md-6 col-xd-12 mt-4">
                     <img src="assets/img/A (21).jpg" alt="" class="pop img-fluid w-100" data-aos="zoom-out-up">                       
                    </div>
    
                </div>
            </div>
        </div>
